<div class="col-12 row container">
  <div class="col-lg-3 image-container">
    <img src="assets/icons/no_image.png" class="img-circle img-sm">
  </div>
  <div class="col-lg-9 form-container">
    <form>
      <label for="lobster-photo">
        <h3>Upload Your Photo</h3>
      </label>
      <input type="file" class="photo-upload" name="lobster-photo">
      <input type="submit" class="btn btn-primary" value="Upload a Photo">
      
    </form>
    
  </div>
  
  
</div>
        


