<div class="image"></div>
<h2><%= user.escape("name") %></h2>
<button class="btn btn-primary" id="hire_user">Hire me!</button>
<p>User description goes here...</p>
<br>
<p>I've been a lobster since [year goes here]</p>
<br>
<p>I've done [number of accepted tasks]</p>
<br>
<p>I have a [vehicle, gun] if you need one OR 
  I respond quickly</p>
  
<div class="rating"></div>
<div class="blurb"></div>
<button class="btn btn-primary" id="read_reviews">Read all reviews</button>
