<div class="row col-md-4 col-offset-4">
    <button class="btn btn-success navbar-btn" data-toggle="modal" data-target="#signup_modal">Sign up</button>
    <br>
    <button class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#login_modal">Log in</button>
</div>

<!--Start signup modal -->
<div class="modal fade" id="signup_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <form action="/users" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="user[phone1]" value="0123456789" >
          <label>Name<br>
            <input name="user[name]" type="text"><br>
          </label><br>
          <label>Email Address<br>
            <input name="user[email]" type="text"><br>
          </label><br>
          <label>Password<br>
            <input name="user[password]" type="password"><br>
          </label><br>
          <label>Zip Code<br>
            <input name="user[zipcode]" type="text"><br>
          </label><br>
          <input 
            type="submit" 
            value="Create account" 
            class="btn btn-primary"
            id="new_user_signup">
          <br>
        </form>      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--End signup modal -->

<!--Start login modal -->
<div class="modal fade" id="login_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Log in</h4>
      </div>
      <div class="modal-body">
        <form action="/session" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          </label><br>
          <label>Email Address<br>
            <input name="user[email]" type="text"><br>
          </label><br>
          <label>Password<br>
            <input name="user[password]" type="password"><br>
          </label><br>
          <input 
            type="submit" 
            value="Log in" 
            class="btn btn-primary"
            id="user_login">
          <br>
        </form>      
      </div>
      <div class="modal-footer">
        <a href='#'>Forgot password?</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--End modals -->
<!--Start error logs -->
<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>") %>
</div>
<% end %>
