<div class="row col-12">
  <ul class='no-bullets col-lg-8 col-md-10'>
    <h3>Work Area</h3> 
    <li>Let us know where you can work! Click points on the map to draw.</li>
    <li>Drag a marker to move it.</li>
    <li>Click a market to remove it.</li>
    <li>Hit Submit when you're done!</li>
  </ul>
  <div id="map-container" class="container col-lg-10 col-md-10">
    <div class="map"></div>
    <button 
      type="submit" 
      class="btn btn-success pull-right" 
      id="map-button">
      Submit
    </button>
  </div>
</div>