<div class="row container">
  <div class="col-lg-3 image-container">
    <h3>Current Photo</h3>
    <img src="<%= user.escape('img_md_url') %>" class="img-circle-md img-md">
  </div>
  <div class="col-lg-9 form-container">
    <form class="form" id="photo-form">
      <label for="lobster-photo">
        <h3>Upload Your Photo</h3>
      </label>
      <input 
        type="file" 
        class="photo-upload form-control" 
        name="image">
      <input 
        type="submit" 
        class="btn btn-success" 
        value="Upload Photo">
    </form>
  </div>
</div>
        


