<div class="col-xs-3"> <!-- required for floating -->
  <!-- Nav tabs -->
  <ul class="nav nav-tabs tabs-left">
    <li class="active"><a href="#rates" data-toggle="tab">Rates &amp; Skills</a></li>
    <li><a href="#availability" data-toggle="tab">Availability</a></li>
    <li><a href="#photo" data-toggle="tab">Photo</a></li>
    <li><a href="#about" data-toggle="tab">About You</a></li>
  </ul>
</div>

<div class="col-xs-9">
  <!--progress bar -->
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
      <span class="sr-only">60% Complete</span>
    </div>
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="rates">
      <h2>Set your hourly rates</h2>
      <!--to do: implement popover with more details. requires js though... -->
      <p>Clients will only be able to hire you have if you have an hourly rate and pitch for each category that you want to work.</p>
      <div class="column-labels-bar">
        <div class="column-label skill-select-label">Select Skills</div>
        <div class="column-label rate-label pull-right">Hourly</div>
      </div>
      <div class="categories-list"></div>
    </div>
    <div class="tab-pane" id="availability"></div>
    <div class="tab-pane" id="photo"></div>
    <div class="tab-pane" id="about"></div>
  </div>
</div>  