<h3>Available Categories</h3>
<p>Some jobs are harder than others. You can set a different hourly rate for each job category. The more you set, the more work you can get.</p>

<ul class="categories-list no-bullets">
  <% categories.each(function (category) { %>
    <li>
      <h4><%= category.escape('title') %></h4>
      <i class='description'><%= category.escape('description') %></i>
      <div class="user-skills"></div>
    </li>
    <% }) %>
</ul>