
<h2>Rates and Skills</h2>
<p>Some jobs are harder than others. You can set a different hourly rate for each job category. Here are your available categories. The more you set, the more work you can get.</p>

<ul class="categories-list no-bullets">
  <% categories.each(function (category) { %>
    <li>
      <h3><%= category.escape('title') %></h3>
      <p class='description'><%= category.escape('description') %></p>
      <div class="user-skills row">
       
      </div>
    </li>
    <% }) %>
</ul>