<ul class="categories-list">
  <% categories.each(function (category) { %>
    <li>
      <h3><%= category.escape('title') %></h3>
      <p><%= category.escape('description') %></p>
    </li>
    <% }); %>
</ul>