/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap.vertical-tabs";
@import "font-awesome";

$burgundy: #59121A;
$green: #0C3A2D;
$white: #FFFFFF;
$black: #010101;
$gray: #181B22;
$lightblue: #1978A5;
$scarlet: #A51122;

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}

p, li{
  font-family: 'PT Sans', sans-serif;
}

.icon{
  height: 30px;
}

.img-circle {
  height: 108px;
  width: 108px;
  border: 2px solid $burgundy;
}

img.social{
  height: 24px;
  width: 24px;
}

ul.no-bullets{
list-style-type: none;
}

.btn-default{
  color: $burgundy;
  border-color: $burgundy;
}

.map {
  height: 600px;
  margin: 15px;
}

#map-container{
  margin: 10px;
  padding: 5px;
}

.footer-container{
  margin-top: 30px;
}
