/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap.vertical-tabs";
@import "font-awesome";

$burgundy: #59121A;
$red: #8C1A15;
$green: #0C3A2D;
$white: #FFFFFF;
$gray: #181B22;
$lightblue: #1194D4;
$clouds: #ecf0f1;
$silver: #bdc3c7;

//darkly colors
$dblue: #3498db;
$dgreen: #00bc8c;
$dred: #e74c3c;
$dyellow: #f39c12;


#main {
  padding-top: 60px;
}

.row {
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  color: whitesmoke;
}

p, li, span {
  font-family: 'PT Sans', sans-serif;
  color: whitesmoke;
}

.icon {
  height: 50px;
}

.img-circle-sm {
  height: 144px;
  width: 144px;
  border: 4px solid $burgundy;
  border-radius: 50%;
}

.img-circle-md {
  height: 225px;
  width: 225px;
  border: 4px solid $burgundy;
  border-radius: 50%;
}

img.social {
  height: 24px;
  width: 24px;
}

ul.no-bullets {
  list-style-type: none;
}

ul {
  padding: 0;
}

.btn {
  color: black;
}

.btn-default {
  color: $clouds;
  background-color: $burgundy;
}

.footer-container {
  margin-top: 30px;
}

.navbar {
  margin-bottom: 0;
}
