$burgundy: #59121A;
$navbarblue: #345B7F;
$lightblue: #1194D4;
$clouds: #ecf0f1;

.popular-job {
  background: rgba(#363636, 0.5);
  border-radius: 2px;
  .ul {
    padding-left: 0px;
  }
  margin: 2rem 2rem 0rem 0rem;
}

.top-three {
  margin: 2rem 13rem 0 0;
}

.sidebar-form {
  background: rgba(#363636, 0.5);
  border-radius: 5px;
  padding: 0rem 2rem 2rem;
  margin: 2rem 2rem 2rem 0rem;
  .form-container {
    .row {
      padding: 0;
    }
    .btn {
      margin-top: 1rem;
    }
  }
  .job-type-label {
    border-radius: 5px;
    background-color: $burgundy;
  }
  .selector-input:hover + label{
    border-radius: 5px;
    background:$navbarblue;
  }
  .selector-input:checked + label { 
    border-radius: 5px;
    background:$navbarblue;
  }
  .selector-button, .selector-button label, .selector-button input {
    width: 120px;
    padding: 1rem 0rem;
  }
  .selector-button input {
    z-index: 1;
    opacity: 0;
  }
}

.greatest-hits-section {
  background: rgba(#363636, 0.5);
  border-radius: 4px;
  margin: 2rem 2rem 2rem 0rem;
  h3 {
    color: $clouds;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #2c3e50;
    padding: 1rem;
    margin: 0rem 0rem 2rem;
  }
  ul {
    font-size: 10pt;
    padding: 0em 1em 1em 1em;
  }
}