//darkly colors
$dblue: #3498db;
$dgreen: #00bc8c;
$dred: #e74c3c;
$dyellow: #f39c12;
$dgray: #464545;


footer {
  background-color: $dgray;
  padding-top: 5rem;
  .footer-title, .social-text {
    color: $dgreen;
  }
  .apps-message {
    font-size: 1.4rem;
  }
  ul a {
    color: white;
  }
  img {
    border-radius: 3px;
    margin: 0 0.8rem;
  }
}
