$clouds: #ecf0f1;

#hire-form {
  .text-label {
    font-size: 2em;
  }
  .lobster-info-container{
    margin-top: 2em;
  }
  .form-container {
    background: rgba($clouds, 0.2);
    border-radius: 4px;
    padding: 1em 2em;
    margin-top: 1em;
  }
  .form-control {
    margin: 0 2em 2em 0 ;
  }
  .hire-container {
    margin-top: 2em;
  }
}