//darkly colors
$dblue: #3498db;
$dgreen: #00bc8c;
$dred: #e74c3c;
$dyellow: #f39c12;
$dgray: #464545;

.tab-pane {
  background-image: url(https://s3-us-west-1.amazonaws.com/mobstrlobstr-development/backgrounds/lobsters_on_ice.jpg);
//  position: absolute;
//  height: 100%;
  .categories-list {
    h3 {
      color: $dgreen;
    }
  }
  .form-control {
    padding: 1rem;
  }
}