$burgundy: #59121A;
//darkly colors
$dblue: #3498db;
$dgreen: #00bc8c;
$dred: #e74c3c;
$dyellow: #f39c12;

.top {
  background-image: url(https://s3-us-west-1.amazonaws.com/mobstrlobstr-development/backgrounds/traps_sun.jpg);
  background-size: 2090px 1385px;
  background-repeat: no-repeat;
  position: relative;
  .button-container {
    border: 2px solid $burgundy;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -150px;
  
    width: 300px;
    height: 300px;
    
    background-color: rgba(149, 165, 166, .6);
    border-radius: 5px;
    padding: 10px;
    .btn, .btn-lg {
      border: 1px solid $burgundy;
    }
    .guest {
      margin-top: 10rem;
    }
  }
}

html, body, section {
    height: 100%;
}

section.why {
  padding: 5% 0% 0%;
  h1 {
    font-size: 6rem;
  }
  .nums-counter {
    position: relative;
    left: 50%;
    margin-left: -45px;
    margin-bottom: 2rem;
    margin-top: 6rem;
    border-radius: 50%;
    background: $burgundy;
    height: 90px;
    width: 90px;
    padding-top: 2rem;
  }
  h2 {
    font-size: 4rem;
  }
  p.nums-title {
    font-size: 2rem;
  }
  p.nums-text {
    font-size: 1.6rem;
  }
}

.signup-modal {
  border-radius: 4px;
  .modal-header {
    background: $dgreen;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
}

.login-modal {
  border-radius: 4px;
  .modal-header {
    background: $dblue;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
}
