<div class="filter-container"></div>

<div class="main-content">
  <div class="recommendations-container">

    <div class="row row-gutter top-three-row lobster-card-container">
      <div class="col-lg-4 col-12 lobster-card-container" id="position-0"></div>
      <div class="col-lg-4 col-12 lobster-card-container" id="position-1"></div>
      <div class="col-lg-4 col-12 lobster-card-container" id="position-2"></div>
    </div>
    <div class="show-more row" style="display: block">
      <button class="btn btn-default centy" id="see-more">
        Show More Lobsters
      </button>
    </div>

    <div class="remainder-container" style="display: none">
      <div class="select-container">
        <div class="row row-gutter">
          <form class="col-lg-2 select">
            Sort your lobsters by:
            <select class="form-control" id="sort-select">
              <option selected="" value="sortByRecommended">
                Recommended
              </option>
              <option value="sortByReviews">
                Most reviews
              </option>
              <option value="sortByPrice.asc">
                Price (lowest to highest)
              </option>
              <option value="sortByPrice.desc">
                Price (highest to lowest)
              </option>
              <option value="sortByRatings">
                Rating
              </option>
            </select>
          </form>
        </div>
        <div class="items-container">
          <div class="row row-gutter lobster-card-container remaining-lobsters">
            <div class="col-12 col-lg-3 lobster-card-container" id="position-3"></div>
            <div class="col-12 col-lg-3 lobster-card-container" id="position-4"></div>
            <div class="col-12 col-lg-3 lobster-card-container" id="position-5"></div>
            <div class="col-12 col-lg-3 lobster-card-container" id="position-6"></div>
          </div>
          <div class="row row-gutter row-2 lobster-card-container remaining-lobsters">
            <div class="col-12 col-lg-3 lobster-card-container" id="position-7"></div>
            <div class="col-12 col-lg-3 lobster-card-container" id="position-8"></div>
            <div class="col-12 col-lg-3 lobster-card-container" id="position-9"></div>
            <div class="col-12 col-lg-3 lobster-card-container" id="position-10"></div>
          </div>
          <div class="row row-gutter row-3 lobster-card-container remaining-lobsters">
            <div class="col-12 col-lg-3 lobster-card-container" id="position-11"></div>
            <div class="col-12 col-lg-3 lobster-card-container" id="position-12"></div>
            <div class="col-12 col-lg-3 lobster-card-container" id="position-13"></div>
            <div class="col-12 col-lg-3 lobster-card-container" id="position-14"></div>
          </div>
        </div>
      </div>

 