<div class="section-body">
  <div class="top-three-container">
    <div class="row row-gutter top-three-row lobster-card-container">
      <div class="col-lg-4 col-12 tasker-card-container position-1" cid="32">
      </div>
      <div class="col-lg-4 col-12 tasker-card-container position-2" cid="33">
      </div>
      <div class="col-lg-4 col-12 tasker-card-container position-3" cid="34">
      </div>
    </div>
  </div>
  
  <div class="remainder-container">
    <button class="btn btn-default btn-see-more"></button>
  </div>
</div>