<div class="section-body">
  <div class="top-three-container">
    <div class="row ￿ top-three-row lobster-card-container">
      <div class="col-lg-4 lobster-card-container position-1">
      </div>
      <div class="col-lg-4 lobster-card-container position-2">
      </div>
      <div class="col-lg-4 lobster-card-container position-3">
      </div>
    </div>
  </div>
  
  <div class="remainder-container">
    <button class="btn btn-default btn-see-more"></button>
  </div>
</div>