<div class="footer-container">
  <footer>
    <div class="row social">
      <div class="container">
        <span class="social text">Follow us! We don't bite:</span>
        <a class="social-link" href="#">
          <img class="social" alt="Facebook" src="/assets/icons/facebook-icon.png">
        </a>
         | 
        <a class="social-link" href="#">
          <img class="social" alt="Twitter" src="/assets/icons/twitter-bird.png">
        </a>
         |
        <a class="social-link" href="#">
          <img class="social" alt="Linkedin" src="/assets/icons/linkedin-icon.jpg">
        </a>
      </div>
    </div>
    <div class="row footer-row">
      <div class="container footer-content">
        <div class="footer-column">
          <span class="footer-title">Discover</span>
          <div class="links">
            <a href="#">How MobstrLobstr Works</a>
            <a href="#">Become a Lobster</a>
            <a href="#">The Godlike</a>
            <a href="#">Trust</a>
            <a href="#">Help</a>
          </div>
        </div>
        <div class="footer-column">
          <span class="footer-title">Company</span>
          <div class="links">
            <a href="#">About Us</a>
            <a href="#" target="_blank">Careers</a>
            <a href="#">Press</a>
            <a href="#" target="_blank">Blog</a>
            <a class="inline-links" href="#">Terms</a>
            <span class="amp">&amp;</span>
            <a class="inline-links" href="#">Privacy</a>
          </div>
        </div>
        <div class="footer-column">
          <div class="mobile-apps">
            <div class="footer-title">Download our app</div>
            <p class="apps-message">Maintain your business while shoveling your mountains of cash in the Cayman Islands with our mobile app.</p>
            <a class="appstore-badge" href="#" target="_blank">
            <img alt="Download on the App Store" height="45" src="assets/icons/appstore_badge.svg">
            </a>
            <a class="appstore-badge" href="#" target="_blank">
            <img alt="Get it on Google Play" height="45" src="assets/icons/google_play_badge.svg">
            </a>
            <div class="apps-image"></div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>